NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

REPLICATE_API_KEY=
NEXT_PUBLIC_UPLOAD_API_KEY=

NEXT_PUBLIC_LEMON_SQUEEZY_URL=
LEMON_SQUEEZY_SIGNING_KEY=

# Optional, if you're doing rate limiting
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
